<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=NOVERXD-PC\SQLSERVEUR;Initial Catalog=ChristmasVillage;User ID=admin;Password=root;MultipleActiveResultSets=True;Connect Timeout=60;Max Pool Size=4000"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debugBehavior">
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding" sendTimeout="00:10:00" transferMode="StreamedResponse">
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="ChristmasVillageFAC.FactoryFAC" behaviorConfiguration="debugBehavior">
        <endpoint address="net.tcp://localhost:8081/FactoryFAC"
						  binding="netTcpBinding"
						  contract="ChristmasVillageIFAC.FactoryIFAC">
        </endpoint>
      </service>
      <service name="ChristmasVillageFAC.ManageFAC" behaviorConfiguration="debugBehavior">
        <endpoint address="net.tcp://localhost:8081/ManageFactoryFAC"
						  binding="netTcpBinding"
						  contract="ChristmasVillageIFAC.ManageFactoryIFAC">
        </endpoint>
      </service>
      <service name="ChristmasVillageFAC.OwnFAC" behaviorConfiguration="debugBehavior">
        <endpoint address="net.tcp://localhost:8081/ManageVillageFAC"
						  binding="netTcpBinding"
						  contract="SOA_BrichantIFAC.ManageVillageIFAC">
        </endpoint>
      </service>
      <service name="ChristmasVillageFAC.UserFAC" behaviorConfiguration="debugBehavior">
        <endpoint address="net.tcp://localhost:8081/UserFAC"
						  binding="netTcpBinding"
						  contract="SOA_BrichantIFAC.UserIFAC">
        </endpoint>
      </service>
      <service name="ChristmasVillageFAC.VillageFAC" behaviorConfiguration="debugBehavior">
        <endpoint address="net.tcp://localhost:8081/VillageFAC"
						  binding="netTcpBinding"
						  contract="SOA_BrichantIFAC.VillageIFAC">
        </endpoint>
      </service>
      <service name="ChristmasVillageFAC.UtilitiesFAC" behaviorConfiguration="debugBehavior">
        <endpoint address="net.tcp://localhost:8081/UtilitiesFAC"
						  binding="netTcpBinding"
						  contract="SOA_BrichantIFAC.UtilitiesIFAC">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>

</configuration>