<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="debugBehavior">
        </behavior>
      </endpointBehaviors>
    </behaviors>


    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding"
                 sendTimeout="00:10:00"
                 transferMode="StreamedResponse">
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <client>
      <endpoint address="net.tcp://localhost:8081/FactoryFAC"
                contract="ChristmasVillageGUI.Proxies.FactoryIFAC"
                binding="netTcpBinding"
                name="EndPointFactory"/>

      <endpoint address="net.tcp://localhost:8081/FactoryTypeFAC"
                contract="ChristmasVillageGUI.Proxies.FactoryTypeIFAC"
                binding="netTcpBinding"
                name="EndPointFactoryType"/>

      <endpoint address="net.tcp://localhost:8081/ManageFactoryFAC"
                contract="ChristmasVillageGUI.Proxies.ManageFactoryIFAC"
				        binding="netTcpBinding"
				        name="EndPointManageFactory"/>

      <endpoint address="net.tcp://localhost:8081/ManageVillageFAC"
                contract="ChristmasVillageGUI.Proxies.ManageVillageIFAC"
				        binding="netTcpBinding"
				        name="EndPointManageVillage"/>

      <endpoint address="net.tcp://localhost:8081/UserFAC"
                contract="ChristmasVillageGUI.Proxies.UserIFAC"
                binding="netTcpBinding"
                name="EndPointUser"/>

      <endpoint address="net.tcp://localhost:8081/UtilitiesFAC"
                contract="ChristmasVillageGUI.Proxies.UtilitiesIFAC"
                binding="netTcpBinding"
                name="EndPointUtilities"/>

      <endpoint address="net.tcp://localhost:8081/VillageFAC"
                 contract="ChristmasVillageGUI.Proxies.VillageIFAC"
                 binding="netTcpBinding"
                 name="EndPointVillage"/>
    </client>
  </system.serviceModel>
</configuration>